* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

// ---------------------utility class-----------------
.red {
    background: radial-gradient(#C90007, black);
}

.green {
    background: radial-gradient(#147500, black);
}

.flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.container {
    width: 1080px;
    margin: auto;
}

main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgb(14, 14, 14), #0f0f0f);
    overflow: hidden;

    .left-piller {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 10vw;
        background-color: rgb(0, 0, 0);
    }

    .board {
        margin-top: 5rem;
        height: 40rem;
        width: 100%;
        position: relative;

        .image {
            position: absolute;
            width: 100%;
        }

        .playground {
            background-color: #147500;

            img {
                z-index: 0;
            }

            .go {
                position: absolute;
                height: 10rem;
                width: 10rem;
                border-radius: 100%;
                background-color: black;
                overflow: hidden;
                cursor: pointer;
                z-index: 1;

                h4 {
                    margin: 0;
                    padding: 0;
                    color: wheat;
                    font-size: 5rem;
                    pointer-events: none;
                }
            }
        }
    }

    .selected-num {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 10rem;
        width: 10rem;
        right: 103%;
        background-color: #14141488;
        box-shadow: inset 0 0 1rem rgb(0, 0, 0);

        .pointer {
            position: absolute;
            left: 275%;
            top: 50%;
            transform: translateY(-50%);
            border-left: 2rem solid rgb(19, 19, 19);
            border-top: 2rem solid transparent;
            border-bottom: 2rem solid transparent;
            border-right: 2rem solid transparent;
        }

        .bid-num {
            height: 100%;
            width: 100%;
            transform: scale(0);
            font-weight: 800;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            color: white;
        }

        .final-num {
            height: 5rem;
            width: 10rem;
            background-color: #070707;
            border: none;
            border-radius: 30rem;
            font-size: 2.75rem;
            color: white;
            margin-top: 2rem;
            cursor: pointer;

            &:focus {
                box-shadow: 0 0 10px rgb(0, 0, 0) inset;
            }
        }

    }

    .numberLine {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 10rem;
        background-color: rgb(0, 0, 0);
        padding: 1rem 1.25rem;

        .numbers-btn {
            height: 100%;

            button {
                height: 100%;
                margin-top: 0.25rem;
                border: none;
                font-size: 2rem;
                font-weight: 500;
                color: white;
                cursor: pointer;
                transition: 0.3s ease-out;

                // &:hover {
                //     transform: scale(0.9);
                //     transition: 0.3 ease-in-out;
                // }
            }

            .selected {
                transform: scale(0.6);
                border: 2px solid black;
            }


            .set {
                opacity: 0.5;
                pointer-events: none;
            }


        }
    }

    footer {
        text-align: center;
        margin-top: 2.5rem;
        color: rgb(66, 66, 66);
        letter-spacing: 0.1rem;
    }
}

// jQuery Logic Classes